body{
	font-family: "Arial"; 
	background-image: url('/images/bkgrnd.jpg');
}

header{
	border: none;
}

pre {
	padding: 20px;
	text-size-adjust: 1000px;

}

.div1 {
	float: left;
	width: 48%;
	text-align: center;
	height: 80%;
}


.div2 {
	float : right;
	width: 48%;
	height: 80%;
}

h2{
	text-align: left;
	padding-left: 20px;
}


.règlement {
	color :#0033a2;
	background-color: #FFD77F;
	border-radius: 10px;
	border: 2px solid black;
	padding: 20px;
	font-family: "Arial"; 
}

li {
	text-align: left;
}


.sortie_mes {
	color :black;
	background-color: #F9F5EC;
	border-radius: 10px;
	border: 2px solid black;
	padding: 20px;
	height: 800px;
	margin: 0 auto;
	font-family: "Arial"; 
	overflow-y: scroll;
}

.footer {
	color :black;
	background-color: #F9F5EC;
	border-radius: 10px;
	border: 2px solid black;
	padding: 20px;
	margin-top: 35%;
	text-align: center;
}


form {
	text-align: center;
}

input, button {
	padding: 10px;
	margin-top: 5px;
}

